<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front</title>
</head>

<body>
    <input type="text" id="input-text">
    <h1 id="title-text">front</h1>
    <button id="btn">click</button>

    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/front.js') }}"></script>

</body>

</html>