<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
</head>

<body>
    hello world
    <div style="width: 200px; background-color: yellow;
    margin-top: 40px; margin-left: 30px; padding-left: 20px; box-sizing: border-box;">
        <div style="width: 50px; height: 50px; background-color: red;"></div>
        <div style="width: 70px; height: 370px; background-color: blue;"></div>
        안녕하세요
    </div>
    <div style="width: 300px; height: 150px; border: 1px solid black; margin-top: 10px;">
        <div style="background-color: blue;color: white; width: 60%;">div1</div>
        <div style="background-color: blue;color: white;">div2</div>
        <span style="background-color: red;color: white; display: block;">span1</span>
        <span style="background-color: red;color: white; display: block;">span2</span>
        <header></header>
        <main></main>
        <footer></footer>
        <aside></aside>
        <nav></nav>
        <section></section>
        <article></article>
    </div>
    <img style="width: 250px; height: 250px; object-fit: cover; border-radius: 50%;"
        src="https://i.ytimg.com/vi/0BdlwVBmmhM/maxresdefault.jpg">
    <br />
    <input type="text" placeholder="이름을 입력해주세요" value="홍길동" />
    <input type="password" placeholder="비밀번호를 입력해주세요" />
    <input type="email" placeholder="이메일을 입력해주세요" />
    <input type="number" placeholder="숫자를 입력해주세요" />
    <input type="date" placeholder="날짜를 입력해주세요" />
    <input type="file" placeholder="파일을 입력해주세요" />

    <input id="male" type="radio" name="gender" value="male" />
    <label for="male">남성</label>
    <input id="female" type="radio" name="gender" value="female" />
    <label for="female">여성</label>

    <select>
        <option value="apple">사과</option>
        <option value="banana">바나나</option>
        <option value="cherry">체리</option>
    </select>

    <input type="checkbox" name="fruit" value="apple">
    <label for="apple">사과</label>
    <input type="checkbox" name="fruit" value="banana">
    <label for="banana">바나나</label>
    <input type="checkbox" name="fruit" value="cherry">
    <label for="cherry">체리</label>

    <button>회원가입</button>
    <a href="http://127.0.0.1:5000/">홈으로</a>

    <h1>Hello World</h1>
    <h2>Hello World</h2>
    <h3>Hello World</h3>
    <h4>Hello World</h4>
    <h5>Hello World</h5>
    <h6>Hello World</h6>

    <div style="font-size: 20px; font-weight:bold;color: blue;">안녕</div>
</body>

</html>